<section class="footer" id="footer">
    <div class="share">
        <a href="https://es-la.facebook.com/" class="bi bi-facebook"></a>
        <a href="https://x.com/" class="bi bi-twitter-x"></a>
        <a href="https://www.instagram.com/" class="bi bi-instagram"></a>
        <a href="https://www.linkedin.com/" class="bi bi-linkedin"></a>
    </div>

    <div class="links">
        <a href="#inicio">inicio</a>
        <a href="#catalogo">catalogo</a>
        <a href="#descuentos">descuentos</a>
        <a href="#nosotros">nosotros</a>
    </div>

    <div class="credit">
        Creado por <span> Oscar M. G. F </span> | Todos los derechos reservados
    </div>
</section>