<header class="header">
    <a href="#" class="logo">
        <img src="img/icono-logo.png" alt="Logo" />
    </a>

    <nav class="navbar">
        <a href="#inicio"> inicio</a>
        <a href="#catalogo"> catalogo</a>
        <a href="#descuentos"> descuentos</a>
        <a href="#nosotros"> nosotros</a>
        <a href="#footer"> social</a>
    </nav>

    <div class="icons">
        <div class="bi bi-cart3" id="cart-btn"></div>
        <div class="bi bi-person" id="user-btn"></div>
        <div class="bi bi-list" id="opciones-btn"></div>
    </div>

    <div class="cart-items-container">
        <div class="cart-items-container-c">

        </div>
        <hr>
        <p>Total: S/. <span class="precio-total">0</span></p> 
        <hr>
        <div id="paypal-button-container"></div> <!-- Botón de PayPal aquí -->
    </div>
</header>