<header class="header">
    <a href="#" class="logo">
        <img src="img/icono-logo.png" alt="Logo" />
    </a>

    <nav class="navbar">
        <a href="#inicio"> inicio</a>
        <a href="#catalogo"> catalogo</a>
        <a href="#descuentos"> descuentos</a>
        <a href="#nosotros"> nosotros</a>
        <a href="#footer"> social</a>
    </nav>

    <div class="icons">
        <div class="bi bi-cart3" id="cart-btn"></div>
        <div class="bi bi-person" id="user-btn"></div>
        <div th:if="${session == null}" class="bi bi-person-circle" id="user-btn" onclick="toggleMenu()"></div>
        <div th:unless="${session == null}" class="bi bi-list" id="opciones-btn"></div>
    </div>

    <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
            <div class="user-info">
                <img src="img/user.png">
                <h3>Oscar Manuel</h3>
            </div>

            <hr>
            <a href="#" class="sub-menu-link">
                <img src="img/profile.png">
                <p>Editar Perfil</p>
                <span>></span>
            </a>

            <a href="#" class="sub-menu-link">
                <img src="img/setting.png">
                <p>Configuracion y Privacidad</p>
                <span>></span>
            </a>

            <a href="#" class="sub-menu-link">
                <img src="img/help.png">
                <p>Ayuda y Soporte</p>
                <span>></span>
            </a>

            <a href="index.html" class="sub-menu-link">
                <img src="img/logout.png">
                <p>Cerrar sesión</p>
                <span>></span>
            </a>
        </div>
    </div>

    <div class="cart-items-container">
        <div class="cart-items-container-c">

        </div>
        <hr>
        <p>Total: S/. <span class="precio-total">0</span></p> 
        <hr>
        <div id="paypal-button-container"></div> <!-- Botón de PayPal aquí -->
    </div>
</header>